
<h1 id="recent">Profile Info</h1>
<ul>
		<li>User Id: <%= @current_user.id%></li>
		<li>Username: <%= @current_user.username%></li>
		<li>First Name: <%= @current_user.firstname%></li>
		<li>Last Name: <%= @current_user.lastname%></li>
		<li>Email: <%= @current_user.email%></li>
<ul>
  <input type="submit" name="button" id="button" value="Edit Account" />
  <input type="submit" name="button2" id="button2" value="Delete Account" />



